<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reminder</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body>
    Hi <%= user.firstName %>,
    <p> It's time to review your words</p>

    <% dicts.forEach((dict) => { %>
      <h4 class="dictionary-title">
        <a href="<%= `${config.baseUrl}/dictionaries/${dict.slug}` %>"><%= dict.title %></a>
        <span><%= dict.words.length %> to be reviewed</span>
        <a href="<%= `${config.baseUrl}/learn-words/${dict.slug}/scheduled/${dateScheduled}` %>">Learn again</a>
      </h4>
      <div><%= dict.words.map((word) => word.title).join(', ') %></div>
    <% }) %>
  </body>
</html>
